skeleton:main
pageTitle:DepartmentsList
menuText:Deparments
content:
[[[
    row
        col-12
            <div>Departments List</div>
        /
    /
    row
        col-12
            btn-create-Crea Nuovo Dipartimento
        /
    /    
    row
        col-12
            tbl-departments-{"columns":[{"key":"guid","field":"guid","caption":"GUID"},{"key":"name","field":"name","caption":"Nome Dipartimento"}]}
        /
    /        
]]]