skeleton:main
pageTitle:Departments Edit
menuText:
content:
[[[
    row
        col-12
            <div>Departments Edit</div>
        /
    /
    row
        col-6
            txt-name-Department Name
        /
        col-6
            txt-altroCampo-Altro Campo
        /        
    /    
    row
        col-12
            btn-goBack-Indietro
            btn-save-Salva Modifiche
            btn-delete-Elimina
        /
    /      
]]]