skeleton:main
pageTitle:Host list all
menuText:
content:
[[[
    row
        col-12
            <div>host list all</div>
        /
    /   
    row
        col-12
            btn-showUsers-Users
        /
        col-12
            tbl-users-{"columns":[{"key":"guid"},{"key":"displayName"},{"key":"email"},{"key":"password"},{"key":"isDeleted"}]}
        /
    /    
    row
        col-12
            btn-showDepartments-Departments
        /
        col-12
            tbl-departments-{"columns":[{"key":"guid"},{"key":"name"},{"key":"altroCampo"},{"key":"dataInizio"},{"key":"isDeleted"}]}
        /
    /                 
]]]