skeleton:main
pageTitle:Create / Edit User
menuText:Users
content:
[[[
    row
        col-6
            <div>Ciao</div>
        /
        col-6
            <div>
                Davide
            </div>
        /
    /
    row
        col-6
            txt-username-Username
        /
        col-6
            txt-password-Password (secured)
        /        
    /
    row
        col-12
            btn-save-Salva Modifiche
            btn-cancel-Annulla
        /
    /
]]]