skeleton:main
pageTitle:UsersEdit
menuText:
content:
[[[
    row
        col-12
            <div>Users Edit</div>
        /
    /
    row
        col-6
            txt-displayName-Display Name
        /
        col-6
            txt-email-Email
        /        
    /   
    row
        col-6
            txt-password-Password (solo update qui)
        /
        col-6
            btn-updatePassword-Aggiorna Password
        /        
    /      
    row
        col-12
            btn-goBack-Indietro
            btn-save-Salva Modifiche
            btn-delete-Elimina
        /
    /      
]]]