skeleton:main
pageTitle:Users List
menuText:Users
content:
[[[
    row
        col-12
            <div>Users List</div>
        /
    /
    row
        col-12
            btn-create-Crea New user
        /
    /    
    row
        col-12
            tbl-users-{"columns":[{"key":"guid","field":"guid","caption":"GUID"},{"key":"displayName","field":"displayName","caption":"Nome"},{"key":"edit","field":"guid","caption":"Modifica"}]}
        /
    /        
]]]